<div>
    <form action="" (ngSubmit)="createUser()" #formLogin="ngForm">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" [(ngModel)]="newUser.name">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" [(ngModel)]="newUser.email">
        </div>
        <div>
            <label for="Password">Password: </label>
            <input type="Password" id="Password" name="Password" [(ngModel)]="newUser.password">
        </div>
        <button type="submit">Register</button>
    </form>
    <button (click)="logIn()">LogIn</button>
    <button (click)="getProfile()">Get profile</button>
</div>
